{% extends "base.html" %}

{% block title %}Forum Posts{% endblock %}

{% block content_title %}{% if search %}Search "{{ search }}"{% else %}Forum Posts{% endif %}{% endblock %}

{% block content %}
  {% for entry in object_list %}
    <h3>
      <a href="{% if entry.published %}{{ url_for('detail', slug=entry.slug) }}{% else %}{{ url_for('edit', slug=entry.slug) }}{% endif %}">
        {{ entry.title }}
      </a>
    </h3>
    <p>Created by {{ entry.author.user_name }} {{ entry.timestamp.strftime('%m/%d/%Y at %H:%M%p') }}</p>
  {% endfor %}
  {% include "includes/pagination.html" %}
{% endblock %}