{% extends "base.html" %}


{% block title %}{{ user.user_name }}'s Profile{% endblock %}

{% block content_title %}{{ user.user_name }}'s Profile{% endblock %}



{% block content %}
<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-3">
                <div class="card-header">
                    <h2>{{ user.user_name }}</h2>
                    <h4>{{ user.roles.name }}</h4>
                </div>
            </div>
            <div class="col-7">
                <div class="card-body">
                    <h3>Posts</h3>
                    {% for entry in entries %}
                    <h3>
                        <a
                            href="{% if entry.published %}{{ url_for('detail', slug=entry.slug) }}{% else %}{{ url_for('edit', slug=entry.slug) }}{% endif %}">
                            {{ entry.title }}
                        </a>
                    </h3>
                    <p>Created by <a href="{{ url_for('profile', name=entry.author.user_name) }}">
                        {{ entry.author.user_name }}
                      </a> {{ entry.timestamp.strftime('%m/%d/%Y at %H:%M%p') }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}